@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"),
    url(../../public/fonts/gilroy/Gilroy-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: local("Gilroy-Medium"),
    url(../../public/fonts/gilroy/Gilroy-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"),
    url(../../public/fonts/gilroy/Gilroy-Light.ttf) format("truetype");
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

/* navbar styles */
.navbar {
  background-color: #010521;
  color: #ffffff;
  font-family: "Gilroy-Light", sans-serif;
  background-image: url("../../public/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 30% 0%;
  height: 140px;
  transition: background-image 1s, height 0.3s;
}

.navbar.scrolled {
  background-image: none;
  height: 100px;
  background-color: transparent;
}

.navbar.scrolled-past-900 {
  background-color: #ffffff;
  color: #2c2c2c;
  height: 100px;
  background-image: none;
  box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.5);
}

/* mobile nav */
.mobile-header {
  display: none;
  background-color: #010521;
  background-image: url("../../public/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: 70% 0%;
  background-size: 20%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.mobile-menu {
  position: relative;
  background-color: transparent;
  color: #2c2c2c;
}
.menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0px 10px 34px 0px rgba(0, 0, 0, 0.5);
  padding: 10px;
  z-index: 999;
}

/* welcome section */
.welcome-section-wrapper {
  height: 900px;
  overflow: hidden;
  perspective: 10px;
  background-color: #010521;
}

.welcome-section {
  position: relative;
  display: flex;
  align-items: center;
  height: 700px;
  transform-style: preserve-3d;
  z-index: -1;
}

.fg {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  right: 0 !important;
}

.welcome-text {
  margin-top: -5%;
}

.welcome-h1 {
  color: #ffffff;
  font-size: 70px;
  line-height: 90px;
  z-index: 1;
  font-family: "Gilroy-Bold", sans-serif;
}

.welcome-h6 {
  color: #ffffff;
  font-family: "Gilroy-Light", sans-serif;
}

/* story-section */
.story-section {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-left: 8rem;
}

.story-imgs {
  margin-top: -30rem;
}

.big-border {
  border: 2px solid #010521;
  border-radius: 2px;
  width: 492px;
  height: 659px;
  position: absolute;
  margin-top: -40px;
  margin-left: -40px;
}

.small-border {
  border: 2px solid #191afe;
  border-radius: 2px;
  width: 191px;
  height: 239px;
  position: absolute;
  margin-top: 455px;
  margin-left: 340px;
}

.desk-img {
  position: absolute;
}

.story-text {
  margin-top: 10rem;
}

.title {
  font-size: 50px;
  line-height: 66px;
  font-family: "Gilroy-Bold", sans-serif;
  color: #2c2c2c;
}

.story-h6 {
  font-size: 14px;
  color: #2c2c2c;
  font-family: "Gilroy-Medium", sans-serif;
  line-height: 24px;
}

.spacer {
  height: 12rem;
}

.mobile-desk-img {
  display: none;
}

.story-imgs-fade {
  scale: 0.8;
  opacity: 0;
  animation: scale-up-fade-in linear forwards;
  animation-timeline: view();
  animation-range: contain;
}

.text-fade-in {
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

@keyframes scale-up-fade-in {
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* tablet */
@media only screen and (max-width: 830px) {
  .mobile-header {
    display: flex;
  }
  .welcome-section-wrapper {
    height: 491px;
  }
  .fg {
    width: 50%;
  }
  .welcome-text {
    margin-top: -45%;
  }
  .welcome-h1 {
    font-size: 40px;
    line-height: 50px;
  }
  .navbar {
    display: none;
  }
  .story-section {
    flex-direction: column-reverse;
    padding-left: 2rem;
    padding-right: 2rem;
    row-gap: 2rem;
  }
  .story-text {
    margin-bottom: 33rem;
  }
  .story-imgs {
    width: 65%;
  }
  .spacer {
    display: none;
  }
}

/* mobile */
@media only screen and (max-width: 450px) {
  .fg {
    width: 55% !important;
    margin-right: -90px;
    margin-bottom: -60px;
  }
  .welcome-section-wrapper {
  }
  .welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .welcome-h1 {
    font-size: 35px;
    text-align: center;
  }
  .welcome-h6 {
    text-align: center;
  }

  .story-imgs {
    display: none;
  }
  .story-text {
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .story-h2 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }
  .story-h6 {
    text-align: center;
  }

  .mobile-desk-img {
    display: block;
  }
}
