.card-container {
  font-family: "Gilroy-Medium", sans-serif;
  padding: 2rem;
  width: 390px;
  height: 419px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.card-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.card-container > h3 {
  font-size: 32px;
  line-height: 43px;
}

.card-container > h6 {
  font-size: 14px;
  line-height: 24px;
}

.border-gradient {
  background: linear-gradient(#ffffff, #ffffff) 50% 50% / calc(100% - 4px)
      calc(100% - 4px) no-repeat,
    linear-gradient(140deg, #010521 0%, rgba(72, 171, 224, 0) 75%);
  border-radius: 2px;
  padding: 2rem;
  box-sizing: border-box;
}

@media only screen and (max-width: 830px) {
  .card-container {
    overflow-x: scroll;
    width: 300px;
  }
}
